/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    padding: 20px;
    margin: 0;
}

/* Conteneur principal */
.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Section des produits */
.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product {
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 22%;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.product h3 {
    margin: 10px 0;
}

.product p {
    margin: 10px 0;
    font-size: 16px;
}

.product button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.product button:hover {
    background-color: #218838;
}

/* Section du panier */
#cart-list {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#cart-list div {
    margin-bottom: 10px;
}

button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #c82333;
}
